/* pagina de tratamientos */

.contenedor3 {
    display: flex;
    background-color: aliceblue;
    margin: 0 auto;
    padding: 6.25rem;
    justify-content: space-between;
    background-image: url(../multimedia/fotocajas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.caja3 {
    border: 1px solid violet;
    padding: 0.625rem;
    width: 8.25rem;
    height: 8.25rem;
    line-height: 8.25rem;
    text-align: center;
    margin: 0.938rem;
    background-color: beige;
    border-radius: 1.25rem;
}