/* pagina de consejos */

.PagConsejo {
    display: grid;
    
    grid-template-areas: ". consejo consejo ."
    ". consejo consejo ."
    ". consejo consejo .";
}
.consejo {
    grid-area: consejo;
    text-align: center;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
}
